/*btn-outline*/
.btn-outline{
    display: flex;
    column-gap: 10px;
    align-items: center;
    height: 48px;
    border-radius: 5px;
    padding: 12px 20px;
    border: 1px solid #000;
    color: #000;
    background-color: var(--btn-outline);  
}
.btn-outline:hover{
    opacity: 0.8; /*кнопка становится более прозрачная при наведении*/
}
.btn-outline::active{
    position: relative;
    top: 1px;
}